<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("sys:baidures:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>

			<#if shiro.hasPermission("sys:baidures:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
  <#if shiro.hasPermission("sys:baidures:update")>
  <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;校对</a>
  </#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">

      <div style=" float:left; width:auto; border:1px solid #060">
        <img :src=" baiduRes.url " style="width: 800px;height: auto;"/>
      </div>
        <form class="form-horizontal" style="float:left; width:400px; border:1px solid #060">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">图片ID</div>
                        <div class="col-sm-10">
                            <input type="text"  class="form-control" v-model="baiduRes.fileId" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">序号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="baiduRes.seq" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="baiduRes.name" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">性别</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="baiduRes.sex" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">证件号码</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="baiduRes.idNo" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">联系方式</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="baiduRes.mobile" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="hidden" class="form-control" v-model="baiduRes.extInfo" placeholder=""/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定&下一个"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
                     <input type="button" class="btn btn-warning" @click="add" value="新增补充"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/baidures.js?_${.now?long}"></script>
</body>
</html>